.outerMainScreen {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 80%;
  
  
}

.innerMainScreen {
  padding: 3rem;
  display: flex;
    flex-direction: column;
    align-items: center;
  border: 3px solid;
  border-radius: 10px;
  width: 80%;
 
  
}

.container {
  display: flex;
  width: 100%;
  /* border: 2px solid black; */
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  
  

}

.header {
  text-align: center;
}

.fiftyDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.questionText {
  font-size: large;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(15, end) infinite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.startingElevenImage{
  height: auto;
  width: 100%;
}



.answerInput{
  width: 550px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}

@media only screen and (max-width: 1200px){
  .innerMainScreen{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionText{
    flex-direction: column;
    margin-bottom: 8px;
    gap: 8px;
  }
}


@media only screen and (max-width: 750px){
  .innerMainScreen{
    width: 70%;
    
    
  }

  .startingElevenImage{
    transition: 1s ease-in-out;
  }

  .startingElevenImage:hover{
    scale: 1.5;
  }

  .answerInput{
    width: 100%;
  }

  .questionText{
    text-align: center;
    margin-bottom: 15px;
  }




}
