.main {
  display: flex;
  justify-content: center;
}

.outerMainScreen {
  display: flex;
  justify-content: center;
}

.innerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120%;
  max-width: 120%;

  margin-top: 4rem;
  border: 2px solid black;
  border-radius: 10px;
}

.innerMainContainer {
  display: flex;
  align-items: center;
  width: 65%;
  max-width: 80%;
}

.emptyDiv {
  text-align: center;
  width: 80%;
  max-width: 80%;
}

.textField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
