.main {
  display: flex;
  justify-content: center;
  
}

.outerMainScreen {
  display: flex;
  justify-content: center;
}

.innerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  border: 2px solid black;
  border-radius: 10px;
}

.innerMainContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 100px;
  
  
}

.emptyDiv {
  text-align: center;
  width: 100%;
  margin: 0;
  /* border: 2px solid red; */
  
}

.textField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}



@media only screen and (max-width: 1200px) {
  .emptyDiv{
    width: 50ch;
  }

  .innerMain{
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    
  }

  .innerMainContainer{
    margin: 0 35px;
  }


}