.container {
  display: flex;
  justify-content: center;
  border-left: 2px solid black;
  border-radius: 10px;
  background-color: #d9f1f4;
  width: 65%;
  padding: 0 50px;
     box-shadow:
    4px 4px 6px 0px rgba(0, 0, 0, 0.09),
    -4px -4px 6px 0px rgba(0, 0, 0,  0.09),
    8px 8px 12px 0px rgba(0, 0, 0,  0.09),
    -8px -8px 12px 0px rgba(0, 0, 0,  0.09),
    12px 12px 18px 0px rgba(0, 0, 0,  0.09),
    -12px -12px 18px 0px rgba(0, 0, 0,  0.09),
    16px 16px 24px 0px rgba(68, 172, 247, 0.09),
    -16px -16px 24px 0px rgba(68, 172, 247, 0.09);
  
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none;
  /* margin-right: 10px; */
  gap: 5px;
}





.innerCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.outerCategories {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.7s ease-in-out;
}

.outerCategories:hover{
  scale: 1.03;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;  
  width: 100%;
  margin-left: 25px;
  gap: 5px;
}

.button {
  width: 80%;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 15px;
  height: 35px;
  padding: 0px 15px;
  color: white;
}

/* .pointsBtn{

}

.pointsBtn:hover{
  background-color: white;
  color: inherit;
} */

.span {
  color: white;
  cursor: default;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


@media only screen and (max-width: 1200px) {
  .button{
    width: 100%;
  }

  .buttonContainer{
    width: 25vw;
  }
  .container{
    background-color: inherit;
    border-left: none;
  }


 

}

@media only screen and (max-width: 750px){
  .innerCategories{
    flex-direction: column;
    align-items: center;
     text-align: center;
     gap: 10px;
     /* border: 2px solid red; */
    
  }

  .buttonContainer{
    justify-content: center;
    width: 100%;
    margin-left: 0;
    gap: 6px;
   
  }
  .span{
    width: 100%;
  }
  
}