.outerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 100%;
  box-shadow:
    4px 4px 6px 0px rgba(0, 0, 0, 0.05),
    -4px -4px 6px 0px rgba(0, 0, 0, 0.05),
    8px 8px 12px 0px rgba(0, 0, 0, 0.05),
    -8px -8px 12px 0px rgba(0, 0, 0, 0.05),
    12px 12px 18px 0px rgba(0, 0, 0, 0.05),
    -12px -12px 18px 0px rgba(0, 0, 0, 0.05),
    16px 16px 24px 0px rgba(68, 172, 247, 0.1),
    -16px -16px 24px 0px rgba(68, 172, 247, 0.1);
  width: 50%;
  padding: 25px 10px;
 
  
}

.textFieldsContainer{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.header {
    width: 100%;
    text-align: center;
}

.file-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  .custom-file-label {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35%;
  }
  
  /* Hide the default file input */
  .custom-file-input {
    display: none;
  }
  

  @media only screen and (max-width: 1000px){
    .textFieldsContainer{
       
        grid-template-columns: repeat(1, 1fr);
    }
    
  }

  @media only screen and (max-width: 850px){
    .outerContainer{
      width: 80%;
    } 
  }
